---
import UserForm from "../components/UserForm.jsx";
import UserTable from "../components/UserTable.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Form-Table Application</title>
	</head>
	<body>
		<UserForm client:load />
		<UserTable client:load />
	</body>
</html>
